In [1]:
import pandas as pd
from sqlalchemy import create_engine
csv_inegi = "./Resources/ags.xlsx"

In [2]:
PIB_df = pd.read_excel(csv_inegi,encoding ='latin1')
PIB_df.head(5)

,Index,Entidad,Sector,Edad,Sobrevivientes,Probabilidad_Supervivencia,Probabilidad_ muerte,Muertes_antes_de,Esperanza_de_vida
0,1,Aguascalientes,Total,0,100000.000000,0.677566,0.322434,32243.398680,7.588805
1,2,Aguascalientes,Total,1,67756.601320,0.486096,0.513904,19147.002663,7.955294
2,3,Aguascalientes,Total,2,48609.598657,0.424920,0.575080,6117.579145,8.343101
3,4,Aguascalientes,Total,3,42492.019511,0.381515,0.618485,4340.491479,8.741390
4,5,Aguascalientes,Total,4,38151.528032,0.347848,0.652152,3366.746752,9.160642

In [5]:
rds_connection_string =  "root:root@localhost:3306/vida_empresas"
engine = create_engine(f'mysql://{rds_connection_string}')

In [8]:
PIB_df.to_sql(name='vida', con=engine, if_exists='append', index=False)